/* creazione header con logo  */
.header-sfondo{
    background-color: rgb(0, 160, 255);
    background-image: url("img/pattern.png");
    height: 100px;
    background-size: 40%;
    background-repeat: repeat-x;

}

.logo{
    width: 230px;
    padding-top: 37px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.testo-normale{
     color: black;
    font-size: 14px;
}

.grigio{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.blu{
    color: rgb(0, 160, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.data{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.descrizione-1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.evidenziato{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: yellow;
}

.riga1{
    background-color: rgb(0, 160, 255);
    color: aliceblue;
    width: 1000px;
    text-align: left;
}

.riga2{
    background-color: rgb(183, 226, 255);
    color: black;
    width: 1000px;
    text-align: left;
}

.riga3{
    background-color:white;
    color: black;
    width: 1000px;
    text-align: left;
}

table {
  border-collapse: collapse;
}